<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tajlok.proradio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"

        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.ProRadioA">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

            android:name=".LinkActivity"
            android:exported="true"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />


                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="proradio.su"
                    android:pathPrefix="/showradio"
                    android:scheme="https" />

                <data
                    android:host="proradio.su"
                    android:pathPrefix="/showplaylist"
                    android:scheme="https" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="false" />

        <activity
            android:name=".ChoiceLoveActivity"
            android:exported="true"
            android:noHistory="true" />

        <activity
            android:name=".FirstStartActivity"
            android:exported="true"
            android:noHistory="true" />

    </application>

</manifest>